// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn {
  margin-top:10px;
}
.conteudo {
  text-align:center;
}
.conteudo span {
  font-size:1.3em;
}
.editar_perfil {
  margin-left:20px;
  margin-top:-5px;
}
.conteudo img {
  border-radius:10px;
}
.imagem_reprovado img {
  width:300px;
  height:300px;
  border-radius:100%;
  box-shadow: -2px 2px 15px rgba(10,10,180,0.3);
  margin-top:30px;
}
.btn1, .btn2, .btn3 {
  display: inline;
}
.botoes > .col > .btn-primary {
  background-color:white;
  color:#007bff;
}
.botoes > .col > .btn-primary:hover {
  background-color:#007bff;
  color:white;
}

.botoes > .col > .btn-secondary {
  background-color:white;
  color:#6c757d;
}
.botoes > .col > .btn-secondary:hover {
  background-color:#6c757d;
  color:white;
}

.botoes > .col > .btn-info {
  background-color:white;
  color:#17a2b8;
}
.botoes > .col > .btn-info:hover {
  background-color:#17a2b8;
  color:white;
}
.contato_dirlic_pdf {
  text-align: center;
  font-size: 0.9em;
}
